<div id="<%= dom_id transaction_history %>">
  <p>
    <strong>Sender:</strong>
    <%= transaction_history.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= transaction_history.receiver_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction_history.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction_history.description %>
  </p>

</div>
